<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API KEY</key>
	<string>cmkW2A7oeyIAprTDXLfCSNoec</string>
	<key>API Secret</key>
	<string>6Ars5PrE2BBd3iJmwc7M473bhr4rK6oVa9IugqIleIbjwkDJhR</string>
</dict>
</plist>
